---
import type { HTMLAttributes } from 'astro/types';

type Props = Omit<HTMLAttributes<'a'>, 'href'> & {
  label?: string;
};

const { label = 'Book Appointment', ...props } = Astro.props;
---

<a href="https://imassage-therapeutic.janeapp.com/" {...props}>
  {label}
</a>
